.header{
  width: 130px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  border-right: 1px solid #e5e5e5;
}

.logo{
  display: block;
  width: 86px;
  height: 19px;
  text-indent: -99999em;
  background: url("images/top_logo.png") no-repeat;
  margin: 61px auto 0;
}

.depth1-link{
  display: block;
  width: 130px;
  height: 39px;
  background: url("images/top_gnb.png")no-repeat;
  text-indent: -99999em;
}

.depth1:nth-child(2) .depth1-link{
  background: url("images/top_gnb.png")no-repeat 0 -39px;
}

.depth1:nth-child(3) .depth1-link{
  background: url("images/top_gnb.png")no-repeat 0 -78px;
}

.depth1:nth-child(4) .depth1-link{
  background: url("images/top_gnb.png")no-repeat 0 -117px;
}

.depth1:nth-child(5) .depth1-link{
  background: url("images/top_gnb.png")no-repeat -260px -117px;
}

.depth1:nth-child(6) .depth1-link{
  background: url("images/top_gnb.png")no-repeat 0 -156px;
}

.gnb{
  margin-top: 310px;
}

.util{
  display: block;
  width: 30px;
  height: 30px;
  background: url("images/btn.png")no-repeat -10px -260px;
  margin: 275px auto 0;
}


.section,.footer{
  position: relative;
  left: 130px;
}

.store-logo{
  position: absolute;
  right: 40px;
  top: 50px;
  z-index: 100;
}

.app-logo{
  float: left;
  display: block;
}

.google-logo{
  float: left;
  display: block;
}

.section1{
  width: 1772px;
  height: 974px;
  display: block;
  text-indent: -99999em;
  background: url("images/bg_intro2.jpg")no-repeat -335px -161px;
  overflow: hidden;
}

.main1-text{
  display: block;
  width: 466px;
  height: 230px;
  text-indent: -99999em;
  background: url("images/img_main1_1.png")no-repeat;
  margin: 400px auto;
}

.section2{
  width: 1772px;
  height: 900px;
  overflow: hidden;
}

.section2-wrap{
  width: 736px;
  height: 564px;
  margin: 188px auto 0;
}

.title2{
  display: block;
  width: 204px;
  height: 56px;
  text-indent: -99999em;
  background: url("images/h2_ttl.png")no-repeat;
  float: left;
  margin-top: 56px;
}

.title2-1{
  font-size: 13px;
  color: #666;
  float: left;
  margin: 19px 0 44px 9px;
}

.fhone{
  display: block;
  width: 329px;
  height: 564px;
  background: url("images/guide_img_device.png")no-repeat;
  float: left;
}

.fhone-1{
  width: 218px;
  height: 388px;
  background: url("images/guide_img_screen1.png") no-repeat;
  margin: 45px 0 0 7px;
}

.section2-content{
  text-indent: -9999em;
  float: left;
}

.content-text1{
  display: block;
  width: 407px;
  height: 70px;
  background: url("images/sp_intro_txt.png") no-repeat 0 0;
}

.content-text2{
  display: block;
  width: 407px;
  height: 70px;
  background: url("images/sp_intro_txt.png") no-repeat 0 -98px;
  margin: 28px 0;
}

.content-text3{
  display: block;
  width: 407px;
  height: 70px;
  background: url("images/sp_intro_txt.png") no-repeat 0 -196px;
}

.content-img1{
  display: block;
  width: 407px;
  height: 70px;
  background: url("images/bg_intro_link1.png")no-repeat;
}

.content-img2{
  display: block;
  width: 407px;
  height: 70px;
  background: url("images/bg_intro_link2.png")no-repeat;
}

.content-img3{
  display: block;
  width: 407px;
  height: 70px;
  background: url("images/bg_intro_link3.png")no-repeat;
}

.section3{
  width: 1772px;
  height: 900px;
  background: url("images/bg_appdown.jpg") no-repeat;
}

.section3-wrap{
  width: 845px;
  margin: 0 auto;
}

.title3{
  display: block;
  width: 338px;
  height: 58px;
  text-indent: -99999em;
  background: url("images/h2_ttl.png")no-repeat 0 -58px;
  float: left;
}

.appdown1{
  display: block;
  width: 194px;
  height: 55px;
  background: url("images/btn_appstore.png")no-repeat;
  float: left;
}

.appdown2{
  display: block;
  width: 194px;
  height: 55px;
  background: url("images/btn_google.png")no-repeat;
  float: left;
}

.appdown-qr{
  display: block;
  width: 55px;
  height: 55px;
  background: url("images/btn_qr.png")no-repeat;
  float: right;
}

.section4{
  width: 1772px;
  height: 2114px;
  overflow: hidden;
}

.title4{
  display: block;
  width: 275px;
  height: 58px;
  text-indent: -99999em;
  background: url("images/h2_ttl.png")no-repeat -113px -116px;
  margin: 129px auto 19px;
}

.title4-1{
  font-size: 13px;
  color: #666;
  text-align: center;
}


.section4-btn{
  display: block;
  width: 360px;
  height: 34px;
  text-indent: -99999em;
  margin: 28px auto 74px;
}

.section4-btn1{
  display: block;
  width: 120px;
  height: 34px;
  background: url("images/affiliate_tab.png")no-repeat;
  float: left;
}

.section4-btn2{
  display: block;
  width: 120px;
  height: 34px;
  background: url("images/affiliate_tab.png")no-repeat -119px 0;
  float: left;
}

.section4-btn3{
  display: block;
  width: 120px;
  height: 34px;
  background: url("images/affiliate_tab.png")no-repeat -238px 0;
  float: left;
}

.section4-wrap{
  width: 1250px;
  height: 1639px;
  margin: 0 auto;
}

.section4-logo{
  float: left;
  margin: 33px 25px 34px 25px;
}



































.clearfix:after{
  content: "";
  clear: both;
  display: block;
}

