p{
  color:#bf8f6a;
}

#text-align{
  text-align: center;
}

.text-decoration{
  text-decoration: none;
}

.font{
  font-family: ±Ã¼­Ã¼, serif;
  font-size:20px;
  font-weight:bold;
}

.link-status,
.link-status:visited{
  color: #000;
  text-decoration: none;

}

.link-status:hover{
  font-size: 30px;
  color:#f00;
  text-decoration: underline;
}

