
.logo{
  float: left;
}

.gnb{
  float: right;
}


.depth1-item{
  float: left;
}




.main-img{
  width: 1060px;
  height: 420px;
  background: url("../images/visual0.jpg") no-repeat 0 -110px;
  background-size:1060px 706px;
}


.section1-1{
  float: left;

}

.section1-2{
  float: right;

}

.section1-3{


}



.section1-1-background{
  width: 310px;
  height: 435px;
  background: #faef73;
}




















.inner{
  width: 1060px;
  margin: 0 auto;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}