
body{
  overflow: hidden;
}

.title{
  text-indent: -99999em;
  width:1px;
  height:1px;
  position:absolute;
  overflow:hidden;
}

.gnb{
  width: 158px;
  height: 440px;
  background: url("../images/sub/menu.png") no-repeat;
  position: fixed;
  top: 0;
  right: 210px;
  text-indent: -99999em;
  z-index: 10;
}

.gnb-link{
  background: url("../images/sub/gnb-text.png") no-repeat;
  z-index: 20;
}

.first{
  position: absolute;
  top: 118px;
  right: 76px;
  width: 131px;
  height: 17px;
  background-position: 0 -25px;
}

.second{
  position: absolute;
  top: 200px;
  right: 98px;
  width: 82px;
  height: 20px;

  background-position: 0 0;
}

.third{
  position: absolute;
  top: 278px;
  right: 70px;
  width: 135px;
  height: 17px;
  background-position: 0 -47px;
}

.fourth{
  position: absolute;
  top: 357px;
  right: 95px;
  width: 88px;
  height: 29px;
  background-position: 0 -69px;
}

.barmi{
  width: 130px;
  height: 257px;
  background: url("../images/sub/barmi.png") no-repeat;
  position: relative;
  top: 20px;
  right: -85px;

}

.section-wrap{
  width: 7680px;
  height: 1080px;
  background: url("../images/cinderella/cinderella-bg.png") no-repeat;
}

.section1,
.section2,
.section3,
.section4{
  width: 1920px;
  height: 1080px;
  position: relative;
  float: left
}

.window{
  position: absolute;
  top: 180px;
  left: 160px;
}

.sister{
  position: absolute;
  top: 485px;
  left: 430px;
}

.sisters{
  position: absolute;
  top: 485px;
  left: 780px;
}

.cleaning{
  position: absolute;
  top: 520px;
  left: 1175px;
}

.mirror{
  position: absolute;
  top: 320px;
  left: 1230px;
}

.desk{
  position: absolute;
  top: 435px;
  left: 1425px;
}

.cat{
  position: absolute;
  top: 750px;
  left: 1280px;
}

.text1{
  width: 1161px;
  height: 339px;
  background: url("../images/cinderella/cinderella_text1.png") no-repeat;
  text-indent: -99999em;
  position: absolute;
  top: 80px;
  left: 550px;
}
@keyframes move2 {
  from{ transform: translate(0,0);}

  to{ transform: translate(2590px,0);}
}

.carriage{
  position: absolute;
  z-index: 2;
  top: 225px;
  left: 840px;
}

.carriage.motion{
  animation: move2 4s ease-out 0.5s 1 alternate both;
}

@keyframes move1 {
  from{ transform: translate(0,0);}

  to{transform: translate(0,110px);}
}

.elf{
  position: absolute;
  top:70px;
  right:250px;
  animation: move1 1.5s ease-out infinite alternate ;
}

.pumpkin{
  position: absolute;
  top: 620px;
  left: 1640px;
  z-index: 1;
}

.pumpkins{
  position: absolute;
  top: 580px;
  left: 250px;
}

.shoes{
  position: absolute;
  top: 760px;
  left: 700px;
}

.mouse{
  position: absolute;
  top: 690px;
  left: 350px;
}

.twinkle{
  position: absolute;
  top: -35px;
  left: 690px;
  z-index: 1;
}

.twinkle2{
  position: absolute;
  top: 460px;
  left: 600px;
}

.text2{
  width: 1262px;
  height: 203px;
  background: url("../images/cinderella/cinderella_text2.png") no-repeat;
  text-indent: -99999em;
  position: absolute;
  top: 80px;
  left: 50px;
}

.moon{
  position: absolute;
  top: -10PX;
  left: 970px;
}

.castle5{
  position: absolute;
  top: 260px;
  left: 1110px;
}

.castles{
  position: absolute;
  top: 545PX;
  left: 0;
}

.text3{
  width: 1172px;
  height: 324px;
  background: url("../images/cinderella/cinderella_text3.png") no-repeat;
  text-indent: -99999em;
  position: absolute;
  top: 80px;
  left: 20px;
}

.stars{
  position: absolute;
  top: 0;
  left: 1800px;
}

.clouds{
  position: absolute;
  top: 50PX;
  left: 220px;
}

.castle2{
  position: absolute;
  top: 150PX;
  left: 850px;
}

.prince{
  position: absolute;
  top: 410PX;
  left: 450px;
}

.ddd{
  position: absolute;
  top: 200px;
  left: 80px;
}

.text4{
  width: 1011px;
  height: 323px;
  background: url("../images/cinderella/cinderella_text4.png") no-repeat;
  text-indent: -99999em;
  position: absolute;
  top: 60px;
  left: 40px;
  z-index: 3;
}














.footer{
  width: 150px;
  height: 1080px;
  background: #fff;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
}

.logo-link{
  width: 110px;
  height: 150px;
  display: block;
  background: url("../images/sub/logo.png") no-repeat;
  text-indent: -99999em;
  margin: 15px auto 0;
}

.sns{
  width: 52px;
  height: 265px;
  text-indent: -99999em;
  margin: 540px auto 0;
}

.sns-link1{
  width: 52px;
  height: 52px;
  display: block;
  background: url("../images/sub/sns-icon.png") no-repeat 0 0;
}

.sns-link2{
  width: 52px;
  height: 52px;
  margin-top: 15px;
  display: block;
  background: url("../images/sub/sns-icon.png") no-repeat 0 -68px;
}

.sns-link3{
  width: 52px;
  height: 52px;
  margin-top: 15px;
  display: block;
  background: url("../images/sub/sns-icon.png") no-repeat 0 -142px;
}

.sns-link4{
  width: 52px;
  height: 52px;
  display: block;
  margin-top: 15px;
  background: url("../images/sub/sns-icon.png") no-repeat 0 -213px;
}



/*신데렐라 스프라이트*/

 .cin-image-wrap{
   position:fixed;
   left:40px;
   bottom:40px;
   z-index: 20;
 }
.cin-image{
  width:319px;
  height:481px;

  text-indent:-99999em;
  background:url(../images/cinderella/sprite/cin_sprite.png) no-repeat 0 0;
}







/*모달윈도우영역*/

.layerpop.dimmed{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.9);
  z-index:20;
}

.layerpop-text{
  position:absolute;
  top: 0;
  left: 0;
  width:900px;
  height:750px;
  margin:70px 500px;
  background: url("../images/sub/borders.png") no-repeat;
  /*background-size: 900px 750px;*/
  /*background:#d9bd96;*/
  /*border: 50px solid transparent;*/
  /*border-image: url("images/borders.png") 30 stretch;*/

}



.pumpkin-text{
  position: absolute;
  top: 140px;
  left: 50%;
  margin-left: -345px;
  display: block;
  width: 660px;
  height: 100%;
  font-size:20px;
  text-align: center;
  line-height: 1.7;
  font-weight: bold;
}

.pop-up{
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -82px;
  width: 164px;
  height: 42px;
  background: url("../images/sub/pop-up.png") no-repeat 0 -46px;
  text-indent: -99999em;
}

.pumpkin-info{
  padding-top: 20px;
}

.info{
  display: block;
  padding-top: 30px;
  color: #3d0909;
  line-height: 1.5;
}

.close{
  text-indent:-99999em;
  width:14px;
  height:20px;
  position:absolute;
  top:40px;
  right:30px;
  border: none;
  background:none;
  cursor:pointer;
}

.close:before{
  content:"";
  display:block;
  width:3px;
  height:30px;
  background:#000;

  position:absolute;
  top:0;
  left:5px;

  transform:rotate(45deg);
}

.close:after{
  content:"";
  display:block;
  width:3px;
  height:30px;
  background:#000;

  position:absolute;
  top:0;
  right:5px;

  transform:rotate(-45deg);
}













