.body{
  overflow-y: hidden;
}
.bg{
  width: 7830px;
  height: 975px;
  background: url("images/bg.jpg") no-repeat;
  text-indent: -99999em;
}

.footer{
  width: 150px;
  height: 975px;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
}