.header{

}


.main-img{
  width: 1060px;
  height: 605px;
  text-indent: -99999em;
  background: url("../images/visual0.jpg") no-repeat;
}
































.inner{
  width: 1060px;
  margin: 0 auto;
}
