.header{
  position: relative;
}

.depth1-item{
  }

.depth1-link{
  position: absolute;
  top: 0;
  margin: 30px 0 32px;
  height: 16px;
}

.menu1{
  width: 94px;
  display: block;
  text-indent: -99999em;
  background: url("../images/menu1.png") no-repeat;
  right: 900px;

}


.menu2{
  width: 94px;
  display: block;
  text-indent: -99999em;
  background: url("../images/menu2.png") no-repeat;
  right: 750px;

}


.menu3{
  width: 57px;
  display: block;
  text-indent: -99999em;
  background: url("../images/menu3.png") no-repeat;
  right: 600px;
}


.menu4{
  width: 97px;
  display: block;
  text-indent: -99999em;
  background: url("../images/menu4.png") no-repeat;
  right: 450px;
}

.depth2{
  display: none;
}


.main-img{
  display: block;
  width: 1060px;
  height: 420px;
  background: url("../images/visual0.jpg") no-repeat 0 -110px;
  background-size:1060px 706px;
}

.main-img2{
  position: absolute;
  top: 196px;
  left: 672px;
  width: 560px;
  height: 208px;
  display: block;
  background: url("../images/vis_txtbg.png") no-repeat;
}


.title1{
  margin: 30px auto;
  width: 106px;
  height: 18px;
  text-indent: -9999em;
  background: url("../images/mBlock0_tit1.gif") no-repeat 50% 0;
}

.title-left{
  width: 22px;
  height: 40px;
  position: absolute;
  top: -12px;
  background: url("../images/mBanL_bt.png") no-repeat;
}


.title-right{
  width: 22px;
  height: 40px;
  position: absolute;
  top: -12px;
  right: 0;
  background: url("../images/mBanR_bt.png") no-repeat;
}

.title2{
  width: 76px;
  height: 20px;
  text-indent: -99999em;
  background: url("../images/mBanS0_tit1.png") no-repeat;
}

.section-bg1{
  width: 238px;
  height: 184px;
  background: url(../images/mBanSave_bg.jpg) no-repeat 35px 8px;
}

.section-bg2{
  width: 238px;
  height: 184px;
  background: url(../images/reviewFream0.png) no-repeat -36px 0px;
}

.title2-bg{
  padding: 35px 36px;
  box-sizing: border-box;
  width: 310px;
  height: 435px;
  background: #faf05e;
}

.p1{
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 15px 0 20px;
}

.p2{
  font-size: 13px;
  line-height: 18px;
  color: #666;

}

.together{
  margin-top: 40px;
  width: 295px;
  height: 69px;
  text-indent: -99999em;
  background: url("../images/togetherTx0.gif") no-repeat;
}

.section2-1{
  display: block;
  width: 222px;
  height: 222px;
  background: url("../images/mPhotoSave_bg.gif") no-repeat;
  position: absolute;
  top: 48px;
  left: 360px;
}

.section2-2{
  display: block;
  width: 222px;
  height: 222px;
  background: url("../images/mPhotoSave_bg.gif") no-repeat;
  position: absolute;
  top: 48px;
  left: 592px;
}

.p3{
  color: #333;
  font-size: 16px;
  position: absolute;
  top: 285px;
  left: 360px;
  padding-left: 10px;
  border-left: 2px solid #f4d900;
}

.p4{
  color: #333;
  font-size: 16px;
  position: absolute;
  top: 285px;
  left: 592px;
  padding-left: 10px;
  border-left: 2px solid #f4d900;

}


.section2-3{
  position: absolute;
  top: 48px;
  right: 0;
}






.border{
  border-bottom: 2px solid #000;
}






.footer{
  height: 130px;
  background: #323232;
  font-size: 14px;
}

.footer-ul{
  margin-top: 35px;
}


.footer-item{

}

.footer-item:first-child{
  padding-left: 0;
}

.footer-link{
  color: #aeaeae;
}


.footer-item:after{
  content: "";
  display: inline-block;
  background: url("../images/footer_bar.gif") no-repeat;
  width: 1px;
  height: 9px;
  margin:0 13px;
}

.footer-item:last-child:after{
  display: none;
}

.footer-button{
  margin-top: 40px;
  width: 53px;
  height: 33px;
  background: #111;
  border: 1px solid #020202;
  color: #fff;
  line-height: 13px;
}


.copyright{
  position: absolute;
  top:65px;
  left: 0;
  color: #aeaeae;
}














.relative{
  position: relative;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.inner{
  width: 1060px;
  margin: 0 auto;
}
