.header{
  position: relative;
}


.main-img{
  width: 1060px;
  height: 605px;
}


.depth1-item{
  }

.depth1-link{
  position: absolute;
  top: 0;
  margin: 30px 0 32px;
  height: 16px;
}

.menu1{
  width: 94px;
  display: block;
  text-indent: -99999em;
  background: url("../images/menu1.png") no-repeat;
  right: 900px;

}


.menu2{
  width: 94px;
  display: block;
  text-indent: -99999em;
  background: url("../images/menu2.png") no-repeat;
  right: 750px;

}


.menu3{
  width: 57px;
  display: block;
  text-indent: -99999em;
  background: url("../images/menu3.png") no-repeat;
  right: 600px;
}


.menu4{
  width: 97px;
  display: block;
  text-indent: -99999em;
  background: url("../images/menu4.png") no-repeat;
  right: 450px;
}





























.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.inner{
  width: 1060px;
  margin: 0 auto;
}
