p{
  color:#bf8f6a;
}

#text-align{
  text-align: center;
}

.text-decoration{
  text-decoration: none;
}

.font{
  font-family: 궁서체, serif;
  font-size:20px;
  font-weight:bold;
}

.link-status,
.link-status:visited{
  color: #000;
  text-decoration: none;

}

.link-status:hover{
  font-size: 30px;
  color:#f00;
  text-decoration: underline;
}

table{
  border-collapse: collapse;
  width: 300px;
}
table, th, td{
  border :1px solid #000;
}

th, td {
  height: 50px;
}

/*박스모델 블럭요소와 인라인 요소 비교*/

.box-moldel-block{
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 5px solid red;
  margin: 100px;
}

.box-moldel-inline{
  width: 300px;
  height: 100px;
  padding: 50px;
  border: 5px solid blue;
  margin: 100px;
}

/* display property*/

.display-inline{
  display: inline;

  width: 300px;
  height: 100px;
  padding: 50px;
  border: 5px solid blue;
}

.display-block{
  display: block;

  width: 300px;
  height: 100px;
  padding: 50px;
  border: 5px solid red;
}

.display-inline-block{
  display: inline-block;

  width: 300px;
  height: 100px;
  padding: 50px;
  border: 5px solid green;
}

/*가변 가로길이*/
.wrap{
  width: 100%;
  min-width: 400px;
  max-width: 800px;

  background-color:red;
}

/*float*/

.float-wrap{
  width: 800px;
  height: 500px;
  border: 1px solid red;
}

.float-left{
  float :left;
  width: 200px;
  height: 200px;
  background-color: green;
}
.float-right{
  float:left;
  width: 200px;
  height: 200px;
  background-color: skyblue;
}

.bg-color-gray{
  width: 400px;
  height: 200px;
  background-color: gray;
  clear: both;
}

/*position*/

.relative-wrap{
 width: 300px;
  height: 200px;
  border: 1px solid darkgoldenrod;
  margin-bottom: 100px;
}
.position-relative{
  position:relative;
  top:20px;
  left: 30px;

  background-color: salmon;
}

.outer{
  position: relative;
  width: 500px;
  height: 500px;

  background-color: greenyellow;
}

.absolute-wrap{
  position: absolute;
  right: 30px;
  bottom: 50px;
  width: 300px;
  height: 200px;
  border: 1px solid royalblue;
  margin-bottom: 100px;
}

.position-absolute{
  position:absolute;
  top: 20px;
  left: 30px;

  background-color: blueviolet;
}

.position-fixed{
  position: fixed;
  bottom: 10px;
  right: 30px;
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}

.overlap-parent{
  position: relative;
  width: 300px;
  height: 200px;
  border: 1px solid darkseagreen;
}

.overlap-a{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  background-color: gold;
}

.overlap-b{
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100px;
  height: 100px;
  background-color: seagreen;
}